<div class="details" ng-controller="detailsController">
<div class="nav-container">
	<a href="#/details/{{ prev }}"><div class="button"><i class="fa fa-arrow-left"></i></div></a>
	<a href="#/details/{{ next }}"><div class="button right"><i class="fa fa-arrow-right"></i></div></a>
</div>
<h3>{{ movie.title }}</h3>
	<img ng-src="./data/images/{{ movie.imdbID }}.jpg">
	<ul>
		<li class="rank"><b>Rank:</b> {{ movie.rank }}</li>
		<li><b>Rated:</b> {{ movie.rated }}</li>
		<li><b>Released:</b> {{ movie.released }}</li>
		<li><b>Runtime:</b> {{ movie.runtime }}</li>
		<li><b>Genre(s):</b> <span ng-repeat="genre in movie.genre">{{ genre }}, </span></li>
		<li><b>Directors(s):</b> <span ng-repeat="director in movie.director">{{ director }}, </span></li>
		<li><b>Actor(s):</b> <span ng-repeat="actor in movie.actors">{{ actor }}, </span></li>
		<li><b>Plot:</b> {{ movie.plot }}</li> 
		<li><b>Country(s):</b> <span ng-repeat="country in movie.actors">{{ country }}, </span></li>
		<li><b>Awards:</b> {{ movie.awards }}</li> 
		<li><b>Metascore:</b> {{ movie.metascore }}</li> 
		<li><b>IMDB Votes:</b> {{ movie.imdbVotes }}</li> 
		
	</ul>
</div>