<div class="row" ng-controller="listController">
	<div class="small-12 columns">
		<h1>Movie List</h1>
	
		<div class="userInput">
			<label class="user_input_container">
			  <input type="text" placeholder="Search for movies" ng-model="searchMovie">
			</label>

			<label class="user_input_container">Sort by:
			    <select ng-model="predicate">
			    	<option value="rank">Rank</option>
			        <option value="title">Title</option>
			    </select>

		  		<fieldset>
    				<input type="radio" name="order_by" value="ascending" id="ascending" required checked ng-click="reverse = false"><label for="ascending">Ascending</label>
    				<input type="radio" name="order_by" value="descending" id="descending" ng-click="reverse = true"><label for="descending">Descending</label>
    			</fieldset>
    		</label>
    		
    	</div>
	
		<ul class="movies">
			<a ng-href="#/details/{{ movie.rank }}" ng-repeat="movie in movies |  filter:searchMovie | orderBy:predicate:reverse"><li>
				<img ng-src="./data/images/{{ movie.imdbID }}.jpg">
				<p>{{ movie.title }}</p>
				<p>Rank: {{ movie.rank }}</p>
			</li></a>
		</ul>
	</div>
</div>